

/* Grid */

.conteiner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 10vh 25vh 85vh 12vh;
	grid-template-areas: "header header""article article""main aside""footer footer";
	font-family: Ong;
	background-image: url(../../assets/img/banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
#color{
	font-size: 60px;
	color: #fff;
}

@font-face {
	font-family: Ong;
	src: url(../../assets/fonts/Roboto-Regular.ttf);
}
article{
	/*background:  linear-gradient(135deg, #babbbbc0  10%, #babbbbc0 100%);*/
	grid-area: article; 	
}

main {
	background:  linear-gradient(135deg, #babbbbc0  10%, #babbbbc0 100%);
	grid-area: main;	
	padding-top: 60px;
	height: 900px;
}

aside {
	background: linear-gradient(135deg, #babbbbc0  10%, #babbbbc0 100%);
	grid-area: aside;
	padding-top: 60px;
	height: 900px;
}

footer {	
	grid-area: footer;
}

/* fim do Grid */


/* ------------ Formulário ----------- */

form {
	display: flex;
	width: 700px;
	
	margin-bottom: 850px;
	margin: auto;
	justify-content: center;
}
h1 {
	font-size: 30px;
	margin: 5%;
	margin-top: 2%;
	text-align: center;
}

.acssOn{
	font-size: 30px;
 }
 

#adiv{
	width: 80%;
}
#adiv input{
	width: 80%;
}

select{
	width: 85%;
}

#vacinas{
	width: 180px;
	display: flex;
	flex-wrap: wrap;
}


select {
	height: 30px;    
	display: inline;
	font-weight: 600;
	color: #002272;
	-webkit-appearance: none;
  	appearance: none;

}
input, select {	
	font-size: 15px;   
	border-radius: 50px;
	color: #002272;
	background-color:white;
	padding: 5px 15px;
	text-align: center;
}
input:focus, select:focus {
	outline: none;
	color: #002272;	
}
select:focus {
	width: 150px;
	outline: none;
	color: #002272;
	text-align: center;
}
label{
    font-size: 14px;
	color: black;
	font-weight: bold;
	padding-left: 7px;
}

select
.gestante{
	opacity: 0.4;
	
}
.gestanteAlternativa{
	opacity: 1;
}
.outraProf{
	opacity: 0.4;
}
.outraProfAlternativa{
	opacity: 1;
}

/* ------------ fim Formulário----------- */

/* ------------ Caixa de Texto ----------- */

#divTexto{
	font: 25px;
	margin-top: 5% auto;
    width: 550px;
    height: 450px;
    background-color:  linear-gradient(135deg, #868486e8 10%, #babbbbc0 100%);
    color: rgb(19, 18, 18);
    text-align: start;		   
    font: normal 18px Arial;
    border: dashed 3px rgb(22, 22, 22);
    border-radius: 35px;
	padding: 20px;
	
}
p{
	padding: 15px;
	line-height: 50px;
	font-size: 20px;
}

input#button {
	position: absolute;
	height: 60px;
	width: 200px;
	border: 1px solid white;
	border-radius: 7px ;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	margin-left: 1000px;
	margin-top: 1020px;
	background-image: linear-gradient(135deg, #9708cc 10%, #0990f1 100%);
  }

/* ------------ footer ----------- */

/*inicio footer*/

#footer {
	clear: both; 
	margin: 0 auto;
	position: relative;
	bottom: 0;
	display: flex; 
  }
    
  #anoFooter{
	clear: both;
	position: absolute;  
	top: 0px;
	margin: 25px 25px 25px 40px;
	font-size: 14px;
	font-variant: small-caps;
  }

  #footer{
	align-items: center;
}

  span#ano {
	clear: both;
	position: absolute;  
	bottom: 0;
	margin: 2px;
	margin-left: 45%;  
  }
  /*fim footer*/
  

/*linear-gradient(135deg, #868486e8 10%, #babbbbc0 100%)*/

/******************Barra**************************/
.ui-progressbar {
	position: absolute;
	width: 200px;
	top: 1150px;
	margin-left: 1200px;
  }
  .progress-label {
	position: absolute;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
  }
  